/* Global styles */
html {
  background-color: black;
  font-size: 2vh;
}

body {
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: 'Inter', sans-serif;
  /* or 'Space Grotesk', sans-serif */
  text-shadow: 0px 0 3px rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
  padding-top: 60px;
  font-size: 1.2rem;
}

.home-container {
  position: absolute;
  top: 20vh;
  left: 10vw;
  right: 0;
  padding: 0 2rem;
}


/* Nav bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav a {
  font-size: 1.2rem;
  color: white;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
  transition: color 0.3s, text-shadow 0.3s;
}

nav a:hover {
  color: #00ff00;
  text-shadow: 0 0 10px #00ffff;
}

/* Headings */
h1,
h2 {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}

h1 {
  font-size: 3rem;
}

/* Optional: Container for page content */
div {
  padding: 0 2rem;
}

hr {
  margin-left: 0;
}

.proj-desc {
  margin-bottom: 5vh;
}

.proj-box {
  background-color: rgb(20, 20, 20);
  width: auto;
  padding: 5vh;
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  margin: 5vh;
  border-radius: 1vh;
}